/* #4 #sweat #external css file */

/* GLOBAL */

/* #4 #global styles*/

* {
    /* #4 use #roboto #font */
    font-family: 'Roboto', 'Arial', sans-serif;

    /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

body {
    background-color: #F5F5F5;
}

/* #4 # sweat #uppercase buttons and w3w locations */

button,
strong {
    text-transform: uppercase;
    font-weight: bold;
}



/* APP BAR */

/* #4 #sweat address both #app-bar s */

h1 {
    position: relative;
    top: 0px;
    background-color: #3F51B5;
    color: white;
    height: 72px;
    line-height: 72px;
    padding-right: 16px;
    font-weight: bold;
}

h1 img {
    position: relative;
    left: 16px;
    bottom: -6px;
    vertical-align: middle;
    padding-right: 16px;
}

h1 a
{
    color: white;
    font-weight: bold;
}

#chat_img
{
    float: right;
    margin: 16px 16px;
}

/* CHANNELS LIST */

/* #4 #sweat #channels */

#channels {
    position: absolute;
    left: 0;
    height: 100%;
    width: 40%;
}

.channel-meta {
    display: inline-block;
    position: absolute;
    right: 0px;
}

ul {
    font-weight: bold;
    position: relative;
    top: 0px;
    bottom: 72px;
    height: -webkit-calc(100% - 144px);
    overflow: auto;
    /* #3 #channels #list modifies h2 to ul */
    background-color: white;
    /* #3 #channels #bullets removed */
    list-style-type: none;
}

li {
    /* #4 #channel #tile geometry */
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    /* #4 #channel tiles are separated by #lines */
    border-bottom: 1px solid #F5F5F5;
}

/* #4 active #channel is #highlighted */

li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

li img {
    /* #4 #middle vertical alignment of icons in the #channels list */
    vertical-align: middle;
}

/* TAB BAR */

/* #4 #sweat #tab-bar */

#tab-bar {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 0px;
    /* #3 #tab-bar #container should be white */
    background-color: white;
    /* #3 #tab-bar #container has all buttons centered */
}

/* #4 add styles to #tab-bar #buttons */

#tab-bar button {
    background-color: white;
    border: none;
    height: 72px;
    padding: 16px;
    width: 33%;
}

/* #4 #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */

#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #4 the selected #tab-bar #button is #highlighted */

#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}


/* MESSAGES */

/* #4 select #specific #messages by class and re-assign element styles according to their #hierarchy in a nested way */

#chat {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60%;
}

#messages {

    position: relative;
    top: 0px;
    bottom: 72px;
    height: -webkit-calc(100% - 144px);
    overflow: auto;
}

.message {

    /* #3 #chat #width*/
    width: 80%;

    /* #4 align all #messages using #margins */
    margin-left: 2.5%;

    /* #4 #message distance to next message container*/
    margin-bottom: 8px;
}


.message h3 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: medium;
}

.message h3 em {
    float: right;
    font-size: larger;
    font-style: normal;
}

.message h3 span {
    width: 33.3%;
    float: left;
}

.message h3 a {
    width: 33.3%;
    /* #3 #chat #link color is primary text */
    color: black;
}

.message p {
    display: inline-block;
    background-color: white;
    padding: 16px;
}

.message button {
    float: right;
    margin: 16px 8px 8px 0px;
    display: inline-block;
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
}

/* #4 left align own #messages using #margins */

.message.own {
    margin-left: 17.5%;
}



/* CHAT-BAR */

#chat-bar {
    position: relative;
    bottom: 0px;
}

/* Set emoji button to same height pos as #tab-bar */
#emojis-button {
    height: 32px;
    margin: 20px;
    border: none;
    background-color: white;
}

/* square div, border, padding and absolute pos */
#emojis {
    background-color: white;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    font-size: 28px;
    padding: 16px;
    text-align: left;

    position: absolute;
    bottom: 72px;
    left: 16px;
    overflow: auto;
}
